:host ::ng-deep .status-dropdown .p-dropdown-label {
  font-size: 12px !important;
}

// :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//   width: 100px;
// }

:host ::ng-deep .p-column-filter {
  width: 160px;
}

:host ::ng-deep .p-column-filter > button {
  margin-left: 5px;
}

:host ::ng-deep .col-action > span {
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
  background-color: lightgray;
  font-weight: bold;
}

::ng-deep .p-datepicker {
  z-index: 9999 !important;
}

::ng-deep .date-filter > div > button {
  display: none;
}
::ng-deep .date-filter > .p-column-filter {
  width: 95px;
}

::ng-deep .container-date-filter {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
