<div class="card">
  <p-table
    #dt2
    [value]="payments"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="[
      'date_created',
      'user_id',
      'order_id',
      'order_status'
    ]"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <!-- <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="dt2.filterGlobal($event.target.value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconField>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr style="font-size: 0.75rem">
        <th>Date Created</th>
        <th>User ID</th>
        <th>Order ID</th>
        <th>Payment Channel</th>
        <th>Order Status</th>
        <th>Withdrawal Status</th>
        <th>Order Amount</th>
        <th style="padding-right: 48px">Action</th>
      </tr>
      <tr style="font-size: 0.75rem">
        <th>
          <p-columnFilter
            type="text"
            field="date_created"
            placeholder="Date"
            ariaLabel="Filter Date"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="user_id"
            placeholder="UID"
            ariaLabel="Filter UID"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="order_id"
            placeholder="OID"
            ariaLabel="Filter OID"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="payment_channel"
            placeholder="Payment Channel"
            ariaLabel="Filter Payment Channel"
          />
        </th>
        <th>
          <p-columnFilter
            field="order_status"
            matchMode="equals"
            class="filter-dropdown"
            [showMenu]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                ngModel="value"
                [options]="order_statuses"
                (onChange)="filter($event.value)"
                placeholder="Select Status"
                class="status-dropdown"
                [showClear]="true"
              >
                <ng-template let-option pTemplate="item" class>
                  <p-tag [value]="option" [severity]="getSeverity(option)" />
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            field="withdrawal_status"
            matchMode="equals"
            class="filter-dropdown"
            [showMenu]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                ngModel="value"
                [options]="withdrawal_statuses"
                (onChange)="filter($event.value)"
                placeholder="Select Status"
                class="status-dropdown"
                [showClear]="true"
              >
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option" [severity]="getSeverity(option)" />
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="order_amount"
            placeholder="Order Amount"
            ariaLabel="Filter Order Amount"
          />
        </th>
        <th>Stage For Payout</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
      <tr style="font-size: 0.75rem">
        <td>
          {{ payment.date_created }}
        </td>
        <td>
          {{ payment.user_id }}
        </td>
        <td>
          {{ payment.order_id }}
        </td>
        <td>
          {{ payment.payment_channel }}
        </td>
        <td>
          <p-tag
            [value]="payment.order_status"
            [severity]="getSeverity(payment.order_status)"
          />
        </td>
        <td>
          <p-tag
            [value]="payment.withdrawal_status"
            [severity]="getSeverity(payment.withdrawal_status)"
          />
        </td>
        <td>
          {{ payment.order_amount }}
        </td>
        <td>For Payout</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
