<div>
  <p-table
    #dt2
    [value]="payments"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['date_created']"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <!-- <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="dt2.filterGlobal($any($event.target.)value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconField>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr style="font-size: 0.9rem">
        <th
          colspan="2"
          style="padding: 16px 8px"
          pSortableColumn="date_created"
        >
          Date Created <p-sortIcon field="date_created" />
        </th>
        <th pSortableColumn="user_id">
          User ID
          <p-sortIcon field="user_id" />
        </th>
        <th pSortableColumn="order_id">
          Order ID
          <p-sortIcon field="order_id" />
        </th>
        <th pSortableColumn="payment_channel">
          Payment Channel
          <p-sortIcon field="payment_channel" />
        </th>
        <th pSortableColumn="order_status">
          Order Status
          <p-sortIcon field="order_status" />
        </th>
        <th pSortableColumn="withdrawal_status">
          Withdrawal Status
          <p-sortIcon field="withdrawal_status" />
        </th>
        <th pSortableColumn="order_amount">
          Order Amount
          <p-sortIcon field="order_amount" />
        </th>
        <th style="padding-right: 48px">Action</th>
      </tr>
      <tr style="font-size: 0.75rem">
        <th>
          <p-columnFilter
            type="date"
            field="date_created"
            placeholder="Start"
            ariaLabel="Filter Start Date"
            matchMode="gte"
            showMenu="false"
            class="date-filter"
          />
        </th>
        <th>
          <p-columnFilter
            type="date"
            field="date_created_1"
            placeholder="End"
            ariaLabel="Filter End Date"
            matchMode="lte"
            showMenu="false"
            class="date-filter"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="user_id"
            placeholder="UID"
            ariaLabel="Filter UID"
            matchMode="contains"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="order_id"
            placeholder="OID"
            ariaLabel="Filter OID"
            matchMode="contains"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="payment_channel"
            placeholder="Payment Channel"
            ariaLabel="Filter Payment Channel"
            matchMode="contains"
          />
        </th>
        <th>
          <p-columnFilter
            field="order_status"
            matchMode="equals"
            class="filter-dropdown"
            [showMenu]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                ngModel="value"
                [options]="order_statuses"
                (onChange)="filter($event.value)"
                placeholder="Select Status"
                class="status-dropdown"
                [showClear]="true"
              >
                <ng-template let-option pTemplate="item" class>
                  <p-tag [value]="option" [severity]="getSeverity(option)" />
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            field="withdrawal_status"
            matchMode="equals"
            class="filter-dropdown"
            [showMenu]="false"
          >
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                ngModel="value"
                [options]="withdrawal_statuses"
                (onChange)="filter($event.value)"
                placeholder="Select Status"
                class="status-dropdown"
                [showClear]="true"
              >
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option" [severity]="getSeverity(option)" />
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="order_amount"
            placeholder="Order Amount"
            ariaLabel="Filter Order Amount"
            matchMode="contains"
          />
        </th>
        <th>Stage For Payout</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
      <tr style="font-size: 0.75rem">
        <td colspan="2">
          {{ payment.date_created.toLocaleString().split(",")[0] }}
        </td>
        <td>
          {{ payment.user_id }}
        </td>
        <td>
          {{ payment.order_id }}
        </td>
        <td>
          {{ payment.payment_channel }}
        </td>
        <td>
          <p-tag
            [value]="payment.order_status"
            [severity]="getSeverity(payment.order_status)"
          />
        </td>
        <td>
          <p-tag
            [value]="payment.withdrawal_status"
            [severity]="getSeverity(payment.withdrawal_status)"
          />
        </td>
        <td>
          {{ payment.order_amount }}
        </td>
        <td class="col-action">
          <span>For Payout</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
