<div class="container">
  <div class="header">
    <nav>
      <ul class="nav">
        <li class="nav-item round-left">
          <a
            class="nav-link"
            routerLink="/payments/remittance/pending"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Pending</a
          >
        </li>
        <li class="nav-item inner-nav-item">
          <a
            class="nav-link"
            routerLink="/payments/remittance/for-payout"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >For Payout</a
          >
        </li>
        <li class="nav-item inner-nav-item">
          <a
            class="nav-link"
            routerLink="/payments/remittance/paid-out"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Paid Out</a
          >
        </li>
        <li class="nav-item round-right">
          <a
            class="nav-link"
            routerLink="/payments/remittance/all"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >All</a
          >
        </li>
      </ul>
    </nav>
    <button class="upload-csv-button">Upload CSV</button>
  </div>
  <div class="router-body">
    <router-outlet></router-outlet>
  </div>
</div>
