<div class="header">
  <nav>
    <ul class="nav">
      <li class="nav-item round-left">
        <a
          class="nav-link"
          routerLink="/pages/payments/remittance/pending"
          routerLinkActive="active"
          >Pending</a
        >
      </li>
      <li class="nav-item inner-nav-item">
        <a
          class="nav-link"
          routerLink="/pages/payments/remittance/for-payout"
          routerLinkActive="active"
          >For Payout</a
        >
      </li>
      <li class="nav-item inner-nav-item">
        <a
          class="nav-link"
          routerLink="/pages/payments/remittance/paid-out"
          routerLinkActive="active"
          >Paid Out</a
        >
      </li>
      <li class="nav-item round-right">
        <a
          class="nav-link"
          routerLink="/pages/payments/remittance/all"
          routerLinkActive="active"
          >All</a
        >
      </li>
    </ul>
  </nav>
  <button class="upload-csv-button">Upload CSV</button>
</div>
<div>
  <router-outlet></router-outlet>
</div>
